{{ $translations := dict }}
{{ range .Site.Home.AllTranslations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}
                        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                            <ul class="list-unstyled mb-0">
                                {{ range .Site.Params.contact.list }}
                                <li class="mb-2"><img src="{{ .icon }}" class="mr-2 svg"></img><a class="resume-link" href="{{ .url | safeURL }}">{{ .text }}</a></li>
                                {{ end }}
                                <li class="mb-2"><img src="/assets/svg/map-marked-alt.svg" class="mr-2 svg"></i>{{ .Site.Params.contact.location }}</li>
                                <li class="mb-2 language-spacer"><br/></li>
                                <li class="mb-2">
                                    <div class="languages" tabindex="0" aria-haspopup="true">
                                        <ul>
                                          <li class="flex align-center">
                                            <img src="{{ "/assets/svg/translate.svg" }}" class="book-icon svg" alt="Languages" />
                                            {{ $.Site.Language.LanguageName }}
                                          </li> 
                                        </ul>
                                      
                                        <ul class="languages-list">
                                          {{ range .Site.Languages }}{{ with index $translations .Lang }}
                                          <li class="{{ if (eq $.Site.Language .Language) }}active{{ end }}">
                                            <a href="{{ .Permalink }}" class="flex align-center">
                                                <img src="{{ "/assets/svg/translate.svg" }}" class="mr-2 svg" alt="Languages" />
                                              {{ .Language.LanguageName }}
                                            </a>
                                          </li>
                                          {{ end }}{{ end }}
                                        </ul>
                                      </div>
                                </li>
                            </ul>
                        </div><!--//resume-contact-->
