
                            <section class="skills-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "skills" }}</h3>

                                {{ range .Site.Params.skills.list }}
                                <div class="item">
                                    <h4 class="item-title">{{ .title }}</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        {{ range .items }}
                                        <li class="mb-2" style="clear:both">
                                            <span style="float:left">{{ .name }}</span>
                                            <span style="float:right" title="{{ .level }}">
                                                {{ if eq .level "Novice" }}
                                                <img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img>
                                                {{ else if eq .level "Intermediate" }}
                                                <img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img>
                                                {{ else if eq .level "Advanced" }}
                                                <img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img>
                                                {{ else if eq .level "Expert" }}
                                                <img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img><img class="svg" src="/assets/svg/star-solid.svg" alt="Solid star"></img>
                                                {{ else }}
                                                <img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img><img class="svg" src="/assets/svg/star.svg" alt="Empty star"></img>
                                                {{ end }}
                                            </span>
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div><!--//item-->
                                {{ end }}

                            </section><!--//skills-section-->
